body ,ul,li{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header, a{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    text-decoration: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
li{
    display: block;
    padding: 10px;
    align-items: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
h3{
    text-align: center;
}
img{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 200px;
}


@media (max-width:480px){
    section{
        flex-direction: column;
        background-color: rgb(165, 165, 167);
    }
}
@media (max-width:480px){
       ul{
        flex-direction:column-reverse;
        gap: 10px;
       }
}
@media (max-width:480px){
    li, a{
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
}





    
